---
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import FloattingButton from '../components/FloattingButton.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Measures from '../components/Measures.astro';
import Services from '../components/Services.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Powerpallet">
	<Header />
	<main>
		<Hero />
		<About />
		<Services />
		<Measures />
	</main>
	<Contact />
	<Footer />
	<FloattingButton />
</Layout>

