<section class="container mx-auto w-full pt-12 md:pt-24 lg:pt-32" id="nosotros">
    <div class="container space-y-12 px-4 md:px-6">
      <div class="flex flex-col items-center justify-center space-y-4 text-center">
        <div class="space-y-2">
            <h2 class="text-brown-500 dark:text-amber-500 text-3xl font-bold tracking-tighter md:text-4xl/tight">Sobre nosotros</h2>
          <p class="max-w-[900px] text-gray-500 dark:text-gray-200 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
            Las medidas de pallets suponen el primer paso a la hora de elegir entre un tipo u otro. Sin embargo, la elección de los pallets guarda más complejidad de lo que parece, por ello POWERPALLET se acomoda a tus requerimiento, listos para construir el palet que tu empresa requiere con el cuidado y seguridad que su carga necesita.
          </p>
        </div>
      </div>
      <div class="mx-auto max-w-[1200px] flex flex-col lg:flex-row gap-x-8">
        <img class="md:aspect-[12/6] lg:aspect-[18/9] rounded-lg object-cover" src="/img/07.jpg" alt="Nosotros" />
        <div class="flex justify-between flex-col pt-12 md:pt-12 lg:pt-0 gap-y-8">
            <div class="grid gap-1">
              <h3 class="text-lg font-bold text-brown-500 dark:text-amber-500">Nuestra misión</h3>
              <p class="text-sm text-gray-500 dark:text-gray-200">
                Fabricar pallets de madera cuyo ciclo de vida se alargue por la calidad de insumos y cumplimiento estricto de normas técnicas en su construcción, valorando la madera y la reducción a gran escala de la deforestación.
              </p>
            </div>
            <div class="grid gap-1">
              <h3 class="text-lg font-bold text-brown-500 dark:text-amber-500">Nuestra visión</h3>
              <p class="text-sm text-gray-500 dark:text-gray-200">
                Lograr cubrir la gran demanda local, nacional e internacional en la construcción de pallets de todo tipo de material y para todo tipo de carga, y que sean sostenibles en el tiempo.
              </p>
            </div>
            <div class="grid gap-1">
              <h3 class="text-lg font-bold text-brown-500 dark:text-amber-500">Valores</h3>
              <p class="text-sm text-gray-500 dark:text-gray-200">
                Sostenibilidad, Servicio, Compromiso, Mejora Continua
              </p>
            </div>
          </div>
      </div>
    </div>
</section>
