---
import MailIcon from "../icons/MailIcon.astro";
import MapIcon from "../icons/MapIcon.astro";
import PhoneIcon from "../icons/PhoneIcon.astro";
---

<section class="container mx-auto w-full py-12 md:py-24 lg:py-32" id="contacto">
  <div class="container px-4 md:px-6">
    <h2
      class="text-brown-500 dark:text-amber-500 text-3xl font-bold tracking-tighter md:text-4xl/tight text-center"
    >
      Contáctenos
    </h2>
    <p
      class="mx-auto max-w-[900px] text-gray-500 dark:text-gray-200 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed text-center mt-3"
    >
      ¿Tiene alguna pregunta o necesita una cotización? Complete el siguiente
      formulario y uno de los miembros de nuestro equipo se comunicará con
      usted.
    </p>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-8 justify-center pt-12 items-center"
    >
      <div class="w-full max-w-md mx-auto">
        <form
          id="form"
          class="flex flex-col space-y-4"
          action="https://formspree.io/f/xvoenvbe"
          method="POST"
        >
          <input
            class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 px-3 py-2 text-sm text-gray-900 dark:text-gray-100 placeholder:text-gray-500 dark:placeholder:text-gray-400 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-brown-500 dark:focus-visible:ring-amber-500 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 max-w-lg flex-1"
            type="text"
            id="name"
            name="name"
            placeholder="Nombre"
          />
          <input
            class="flex h-10 w-full rounded-md border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 px-3 py-2 text-sm text-gray-900 dark:text-gray-100 placeholder:text-gray-500 dark:placeholder:text-gray-400 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-brown-500 dark:focus-visible:ring-amber-500 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 max-w-lg flex-1"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
          />
          <textarea
            class="flex min-h-[80px] w-full rounded-md border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 px-3 py-2 text-sm text-gray-900 dark:text-gray-100 placeholder:text-gray-500 dark:placeholder:text-gray-400 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-brown-500 dark:focus-visible:ring-amber-500 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 max-w-lg flex-1"
            name="message"
            id="mensaje"
            placeholder="Mensaje"></textarea>
          <button
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-brown-500 dark:focus-visible:ring-amber-500 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-brown-500 dark:bg-amber-500 text-gray-100 hover:bg-brown-600 dark:hover:bg-amber-600 h-10 px-4 py-2"
            type="submit"
          >
            Enviar
          </button>
        </form>
        <div id="alert-container" class="hidden text-center mt-4"></div>
      </div>
      <div class="flex flex-col space-y-4 text-left lg:text-lg mx-auto">
        <div>
          <p
            class="flex items-center gap-x-2 text-brown-500 dark:text-amber-500 font-bold"
          >
            Arequipa
          </p>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <MapIcon /><span>Urb. Los Andenes de Cayma 2C Cayma, Arequipa</span>
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <PhoneIcon /><a
              href="tel:054291596"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >(054) 291596</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <PhoneIcon /><a
              href="tel:+51973560854"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >+51 973560854</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <PhoneIcon /><a
              href="tel:+51973560854"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >+51 959903590</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <PhoneIcon /><a
              href="tel:+51973560854"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >+51 958545409</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <MailIcon /><a
              href="mailto:powerpalletperu@gmail.com"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >powerpalletperu@gmail.com</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <MailIcon /><a
              href="mailto:powerpallet@impulsegperu.com"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >powerpallet@impulsegperu.com</a
            >
          </div>
        </div>
        <div>
          <p
            class="flex items-center gap-x-2 text-brown-500 dark:text-amber-500 font-bold"
          >
            Lima
          </p>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <MapIcon /><span
              >Calle Germán Schreiber 276 Int. 240 Urb. Santa Ana San Isidro,
              Lima</span
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <PhoneIcon /><a
              href="tel:+51973560854"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >+51 973560854</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <PhoneIcon /><a
              href="tel:+51973560854"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >+51 959903590</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <PhoneIcon /><a
              href="tel:+51973560854"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >+51 958545409</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <MailIcon /><a
              href="mailto:powerpalletperu@gmail.com"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >powerpalletperu@gmail.com</a
            >
          </div>
          <div
            class="flex items-center gap-x-2 text-gray-500 dark:text-gray-200"
          >
            <MailIcon /><a
              href="mailto:powerpallet@impulsegperu.com"
              class="hover:text-brown-500 dark:hover:text-amber-500"
              >powerpallet@impulsegperu.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const $form = document.querySelector("#form");
    const $alertContainer = document.querySelector("#alert-container");

    $form.addEventListener("submit", handleSubmit);

    async function handleSubmit(event) {
      event.preventDefault();
      const form = new FormData(this);
      const response = await fetch(this.action, {
        method: this.method,
        body: form,
        headers: {
          Accept: "application/json",
        },
      });
      if (response.ok) {
        this.reset();
        showAlert(
          "Gracias por contactarnos! <br /> Le responderemos a la brevedad.",
        );
      }
    }

    function showAlert(message) {
      $alertContainer.innerHTML = `
      <div class="bg-green-100 dark:bg-green-800 border border-green-400 dark:border-green-700 text-green-700 dark:text-green-300 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">¡Éxito!</strong>
        <span class="block sm:inline">${message}</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-green-500 dark:text-green-300" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Cerrar</title><path d="M14.348 5.652a1 1 0 00-1.414 0L10 8.586 7.066 5.652a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 11.414l2.934 2.934a1 1 0 001.414-1.414L11.414 10l2.934-2.934a1 1 0 000-1.414z"/></svg>
        </span>
      </div>
    `;
      $alertContainer.classList.remove("hidden");

      const closeButton = $alertContainer.querySelector("svg");
      closeButton.addEventListener("click", () => {
        $alertContainer.classList.add("hidden");
      });
    }
  </script>
</section>
