<section
  class="container mx-auto w-full pt-12 md:pt-24 lg:pt-32 border-t-[1px] border-gray-200 dark:border-gray-700"
  id="medidas"
>
  <div class="grid items-center justify-center gap-4 px-4 text-center md:px-6">
    <div class="space-y-3">
      <h2
        class="text-brown-500 dark:text-yellow-400 text-3xl font-bold tracking-tighter md:text-4xl/tight"
      >
        Garantía, seguridad y economía
      </h2>
      <p
        class="mx-auto max-w-[600px] text-gray-500 dark:text-gray-200 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        Producimos pallets de acuerdo a los estándares más extendidos. Compruebe
        si su pallet ha sido fabricado con medidas estandar homologadas.
      </p>
    </div>
    <div class="">
      <div
        class="grid w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8 items-stretch justify-center"
      >
        <div class="max-w-sm bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow">
          <a href="#">
            <img
              class="mx-auto p-5 pb-0"
              src="/img/europallet.png"
              alt="imagen medidas europallet"
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100">
                Pallet europeo - Europallet
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-300">
              Soportan carga en movimiento de hasta 1500kg y hasta 5500kg de
              carga en reposo. Este tipo de pallet es el más usado en la
              logística europea.
            </p>
          </div>
        </div>
        <div class="max-w-sm bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow">
          <a href="#">
            <img
              class="mx-auto p-5 pb-0"
              src="/img/palletuniversal.png"
              alt="imagen medidas pallet universal"
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100">
                Pallet universal - Isopallet
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-300">
              Soportan carga en movimiento de hasta 1500kg y hasta 4500kg de
              carga en reposo.
            </p>
            <p class="mb-3 font-semibold text-brown-500 dark:text-yellow-400">
              *Producción fijada internacionalmente por la norma ISO 3676.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
